//sidebar
.trending {
  height: fit-content;
  padding-bottom: 6rem;
  width: 80%;
}
.hottopics {
  width: 80%;
}
@media (max-width: 768px) {
  .trending {
    width: 100%;
  }
  .hottopics {
    width: 100%;
  }
}
