
// components/Footer.scss

@import "../theme/theme";

.Footer {
  position: relative;
  align-items: center;
  display:inline-block;
  height: 20rem;
  width: 100%;

 
  background: #bb1919;
}
.copyright{
  width: 10rem;
  height: 5rem;
  top:50%;
  position: relative;
  display: block;
  margin: auto;
  font-family: $logo-font;
  font-size: 12px;
  font-weight: bold;
  color: $on-secondary;
  text-transform: uppercase;


}
@media screen and (max-width:768px){
  .Footer{
    display:block;
    margin:auto;
    color: rebeccapurple;
  }
}