// pages/index.scss
.wrapper{
  position: relative;
  width:100%;
  height:max-content;
  display: block;
  margin: auto;
  padding-bottom: 10rem;
  align-content: center;
  aspect-ratio: 1/1;
  

}
//start of logo and logo animation
.logo{
	position:absolute;
	display:block;
	height:4em;
	width:6em;
  top:-1.5rem;
  left:-6rem;
  box-shadow: rgb(0, 0, 0) 10px 10px 15px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}
@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(10deg);}
  50%{-webkit-transform: rotate(-5deg)}
  100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
  0%{transform: rotate(10deg);}
  50%{transform: rotate(-5deg)}
  100%{transform: rotate(10deg);}
}
.hook{
  width:1em;
  height:1em;
  top:-2.4rem;
  left:-5.5rem;
  position:absolute;
  margin-top: 0.5%;
  margin-left:2.5%;
  border-radius: 100%;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
  
  
  background-color:#fff;
}
//end of logo animation
.module_header{
  position: relative;
  width:84%;
  height: 4em;
  margin: auto;
  background-color:inherit;
  
}
.module_promo{
  position: relative;
  width:84%;
  height: 24em;
  display: block;
  margin: auto;
  background-color:inherit;
}
.promo_module_content{
  position: relative;

}
.media_promo_list{
  position:relative;
  width: 100%;
  height: 24em;
  display: flex;
  justify-content: space-between;
  aspect-ratio: 1/1;
 
}
.media_col1{
  position: relative;
  width:49.5%;
  height:24em;
 
}
.media_col2{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 49.5%;
  height:24em;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
 
}

.media_promo_headline{
  cursor: pointer;
}
.media_image_promo{
  width:100%;
  height: 24rem;
  
}
.media_image_col2{
  width: 100%;
  height: 11.7em;
}
.responsive_image{
  width:100%;
  height:100%;
  opacity: 0.9; 
  
}
.responsive_image:hover{
  opacity: 10;
}


.media_content_promo{
  background-color:transparent;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  padding-left:2em;
  padding-right:2em;
}
.media_title_promo{
  color: antiquewhite;
}
.media_summary_promo{
  color: #c1c1c1;;
}
.media_content_col2{
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 2em;
  z-index: 10;
  padding-left:1em;
  padding-right:1em;
}
.media_title_col2{
  font-size: 1em;
  font-family: inherit;
  color: antiquewhite;
}
.row1{
  position: relative;
  width: 100%;
  height: 11.7em;
  cursor: pointer;
  opacity: 0.9;
}
.row1:hover{
  opacity: 10;
}


.row1::after {
  content: '\A';
  position: absolute;
  width: 100%; 
  height:100%;
  top:0; 
  left:0;
  background:rgba(0,0,0,0.5);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.media_promo_politics{
  position: relative;
  width: 49%;
  height: 11.7em;
 
}
.media_promo_business{
  position: relative;
  width: 49%;
  height: 11.7em;
  cursor: pointer;

}

.media_promo_sports{
  position: relative;
  width: 49%;
  height: 11.7em;
  cursor: pointer;
}

.media_promo_technology{
  position: relative;
  width: 49%;
  height: 11.7em;
  cursor: pointer;
 
}

.module_content_block{
  position: relative;
  width: 84%;
  height:max-content;
  margin: auto;
  display: block;
 
}
.module_column{
  display: block;
  position: relative;
  width: 100%;
  height:max-content;
  margin: auto;
}
.content_module_block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: auto;
  
}
.module_news{
  position: relative;
  width:100%;
  margin: 3.5rem auto;
}
.module_sports{
  position: relative;
  width:100%;
  height: 26em;
  margin: auto;
}
.module_title{
  display: block;
  position: relative;
  font-size: 2rem;
  font-family: Arial Bold;
  font-weight: bold;
  margin: auto auto 1rem;
  color: #4a4a4a;
  cursor: pointer;
}
.module_title_link{
  position: relative;
  margin:auto;
  
}
.module_title_link::before{
  content: " ";
  display: inline-block;
  margin-right: 0.5rem;
  border-left: 2px solid #47a1d8;
  padding: 0;
  width: 0;
  border-color: #e91802;
  height: 1.4rem;
  border-left-width: 0.225rem;

}
.module_title_promo_title{
  display: block;
  position: relative;
  font-size: 1rem;
  font-family: Arial,Helvetica,freesans,sans-serif;
  font-weight:lighter;
  margin: auto auto 1rem;
  color: aliceblue;
}
.module_title_mini_link{
  position: relative;
  margin:auto;
  
}
.module_title_mini_link::before{
  content: " ";
  display: inline-block;
  margin-right: 0.5rem;
  border-left: 2px solid #47a1d8;
  padding: 0;
  width: 0;
  border-color: #e91802;
  height: 0.85rem;
  border-left-width: 0.225rem;

}
.module_title_mini{
  display: block;
  position: relative;
  font-size: 1rem;
  font-family: Arial,Helvetica,freesans,sans-serif;
  font-weight:lighter;
  margin: auto auto 1rem;
  color:#4a4a4a;
}
.module_content{
  position: relative;
  display: block;
  width:100%;
  height: 26em;
}
.media{
  background-color:transparent;
}
.block_link{
  background-color:transparent;
}
.media_list{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 26em;
  margin: 0;
  cursor: pointer;
}
.media_list_item{
  position: relative;
  
  width: 32%;
  height: 26em;

}
.media_image{
  position: relative;
  height: 14em;
}

.media_content{
background-color: transparent;
}
.media_title{
  color:#212121;
}
.media_summary{
  color: #4a4a4a;
  font-family: Arial, Helvetica, sans-serif;
}
.media_link{
  background-color:transparent;
}

.power_links{
  display: block;
  position: absolute;
  z-index: 10;
   bottom:0;
  left:5%;
  color:green;
}
.power_links_promo{
  display: block;
  position: absolute;
  z-index: 10;
  bottom:0;
  left:5%;
}
.power_links_module{
  display: block;
  position: absolute;
  z-index: 10;
  bottom:0;
}
/**
*for smartphones
*/

  @media (max-width:767px){
    .wrapper{
      position: relative;
      width:100%;
      height:max-content;
      display:block;
      margin: auto;
      padding-bottom: 4em;
      align-content: center;
      aspect-ratio: 1/1;
    
    }
    .logo{display:none;}
  
    .module_header{
      position: relative;
      width:84%;
      height: 1em;
      margin: auto;
      background-color:inherit;
      
    }
    .module_promo{
      position: relative;
      width:94%;
      height: 36em;
      display: block;
      margin:auto;
    }
    .promo_module_content{
      position: relative;
    
    }
    .media_promo_list{
      position:relative;
      width: 100%;
      height: 24em;
      display:block;
      justify-content: space-between;
      aspect-ratio: 1/1;
     
    }
    .media_col1{
     
      position: relative;
      width:100%;
      height:14em;   
    }
    .media_col2{
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;
      height:fit-content;
      flex-direction:column;  
    }
    
    .media_promo_headline{
      cursor: pointer;
      height:fit-content;    
    }
    .media_image_promo{
      position: relative;
      width:100%;
      height: 14em;    
    }
    .media_image_col2{
      display: none;
      width: 100%;
      height: 11.7em;
    }
    .responsive_image{ opacity:1; }

    .media_content_promo{
      background-color:transparent;
      width: 100%;
      height: fit-content;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 10;
      padding-left:0.5em;
      padding-right:0.5em;
    }
    .media_title_promo{
      font-size: 1em;
      color: antiquewhite;
    }
    .media_summary_promo{
      display: none;
      color: #c1c1c1;;
    }
    .media_content_col2{
      width: 100%;
      height: fit-content;
      position: relative;
      top:0;
      z-index: 10;
      padding:0;
    }
    .media_title_col2{
      font-size: 1em;
      font-family: inherit;
      color: #212121;
    }
    .row1{
      position: relative;
      width: 100%;
      height:fit-content;
      cursor: pointer;
      opacity: 1;
  
    }
   
    
    
    .row1::after {
      display: none; }
    .media_promo_politics{
      position: relative;
      width: 100%;
      height:6rem;
      border-bottom: 1px solid #d3d3d3;
     
    }
    .media_promo_business{
      position: relative;
      width: 100%;
      height: 6rem;
      border-bottom: 1px solid #d3d3d3;
    
    }
    
    .media_promo_sports{
      position: relative;
      width: 100%;
      height: 6rem;
      cursor: pointer;
      border-bottom: 1px solid #d3d3d3;
    }
    
    .media_promo_technology{
      position: relative;
      width: 100%;
      height: 6rem;
      cursor: pointer;
      border-bottom: 1px solid #d3d3d3;
     
    }
    
    .module_content_block{
      position: relative;
      width: 94%;
      height:fit-content;
      margin: auto;
      display: block;
     
    }
    .module_column{
      display: block;
      position: relative;
      width: 100%;
      height:100%;
      margin: auto;
     
    }
    .content_module_block{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: auto;
      
    }
    .module_news{
      position: relative;
      width:100%;
      margin: 3.5rem auto;
    }
    .module_sports{
      position: relative;
      width:100%;
      height: 18em;
      margin: auto;
    }
    .module_title{
      display: block;
      position: relative;
      font-size: 2rem;
      font-family: Arial Bold;
      font-weight: bold;
      margin: auto auto 1rem;
      color: #4a4a4a;
      cursor: pointer;
    }
    .module_title_link{
      position: relative;
      margin:auto;
      
    }
    .module_title_link::before{
      content: " ";
      display: inline-block;
      margin-right: 0.5rem;
      border-left: 2px solid #47a1d8;
      padding: 0;
      width: 0;
      border-color: #e91802;
      height: 1.4rem;
      border-left-width: 0.225rem;
    
    }
  
    .module_title_promo{
      display: block;
      position: relative;
      font-size: 1rem;
      font-family: Arial,Helvetica,freesans,sans-serif;
      font-weight:lighter;
      margin: auto auto 1rem;
      color: #4a4a4a;
    }
    .module_title_mini_link{
      position: relative;
      margin:auto;
      
    }
    .module_title_mini_link::before{
      content: " ";
      display: inline-block;
      margin-right: 0.5rem;
      border-left: 2px solid #47a1d8;
      padding: 0;
      width: 0;
      border-color: #e91802;
      height: 0.85rem;
      border-left-width: 0.225rem;
    
    }
    .module_title_mini{
      display: block;
      position: relative;
      font-size: 1rem;
      font-family: Arial,Helvetica,freesans,sans-serif;
      font-weight:lighter;
      margin: auto auto 1rem;
      color:#4a4a4a;
    }
    .module_content{
      position: relative;
      display: block;
      width:100%;
      height: 18em;
    }
    .media{
      background-color:transparent;
    }
    .block_link{
      background-color:transparent;
    }
    .media_list{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 18em;
      margin: 0;
      cursor: pointer;
      
    }
    .media_list_item{
      position: relative;
      border-bottom: 1px solid #d3d3d3;
      width: 100%;
      height: 6em;
      
    
    }
    .media_image{
      display: none;
    }
    
    .media_content{
    background-color: transparent;
    }
    .media_title{
      color:#212121;
      font-size: 1em;
    }
    .media_summary{
      display: none;
    }
    .media_link{
      background-color:transparent;
    }
    .module_title_promo_title{
      color: #212121;
    }
    
    .power_links{
      display: block;
      position: absolute;
      z-index: 10;
       bottom:0;
      left:0;
    }
    .power_links_promo{
      display: block;
      position: absolute;
      z-index: 10;
      bottom:0;
      left:5%;
    }
    .power_links_module{
      display: block;
      position: absolute;
      z-index: 10;
      bottom:0;
    }



  }
