// NavBar.scss

@import "../theme/theme";

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 30px;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 30px;
  margin-top:10px;//check will delete
  background: black;

  font-family: $core-font;
  font-size: 16px;
  color: $on-primary-light;

  box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.45);

  a {
    color: inherit;
    text-decoration: none;
  }

  .active {
    color: $highlight;
  }
}
.logo{
	position:relative;
	display:block;
	height:4em;
	width:6em;
  top:1em;
  box-shadow: rgb(0, 0, 0) 10px 10px 15px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}
@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(10deg);}
  50%{-webkit-transform: rotate(-5deg)}
  100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
  0%{transform: rotate(10deg);}
  50%{transform: rotate(-5deg)}
  100%{transform: rotate(10deg);}
}
.hook{
  width:1em;
  height:1em;
  position:absolute;
  margin-top: 0.5%;
  margin-left:2.5%;
  border-radius: 100%;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
  
  
  background-color:#fff;
}
@media(max-width:768px){
.logo{
    height:3rem;
    width:3rem;
}
}
